@font-face {

    font-family: 'M PLUS Code Latin';
    src: url('../fonts/MPLUSCodeLatin.ttf');
    font-weight: 400;
    font-style: normal;
  }

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'M PLUS Code Latin', sans-serif;
}